@import "./variables.scss";

.App {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 30px 20px 0 20px;
  overflow-y: auto;
  margin: 0 auto;

  @media (min-width: 600px) {
    border: 1px solid LightGrey;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px;
    background: #f7f7f7;
  }
}

.logo {
  width: 120px;
}

.title {
  margin: -5px 0 10px 5px;
  padding-bottom: 10px;
  color: $red;
  font-weight: bold;
  border-bottom: 1px solid LightGrey;
}